
.row
{
    text-align: center;
    background-color: #edede9;
    
 
}

.content
{
    margin-top: 100px;
    margin-bottom: 20px;
}
.content h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}
.content p
{
 font-size: 30px;
}
.content a
{
    border-radius: 4px;
    
}
.content ul
{
    display: inline-flex;

}
.content ul li
{
    list-style: none;
   
}
#pu
{
    background-color: #edede9;
    border: black solid;
}
#pe
{
    background-color:#edede9 ;
    border: black solid;
}
